{% extends 'base.html.twig' %}

{% block title %}About Us | Unique Alterations{% endblock %}

{% block body %}

    <div class="image-container">
        <img src="{{ asset('images/machine-1.jpg') }}" alt="Machine Image">
        <h1 class="display-3 fw-bold text-center text-white position-absolute top-50 start-50 translate-middle">About Us</h1>
    </div>

    <div class="container mt-5 my-5">
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Unique Alterations &amp; Dry Cleaning</h2>
                    <p>Unique Alterations &amp; Dry Cleaning's leading repair and alteration service. Our seasoned experts bring years of experience to every task, ensuring your jeans, dresses, skirts, jackets, prom gowns, and coats—as well as upholstery, leather, window treatments, and more—look better than ever, all at surprisingly affordable prices. Whether it's a simple adjustment or a complex repair, we approach each job with the skill and precision that has earned us our esteemed reputation. Every customer, regardless of the job's size, receives the same exceptional level of courtesy, attention, and respect.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Alteration Services</h2>
                    <p>Whether you need last-minute alterations on your wedding gown, repairs for your cherished handbag, adjustments to the waist of your trousers, or any other alterations, bring them to us. We’ll have everything looking fantastic and ready to impress, all in no time.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
