{% extends 'base.html.twig' %}

{% block title %}Find Us | Unique Alterations{% endblock %}

{% block body %}
    <div style="text-align: center; margin: 20px 0;">
        <h2>Find Us Here</h2>
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2380.518639380934!2d-2.584084623266949!3d53.36976917229606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b0348afa29763%3A0x21affae7cda29142!2sUnique%20Alterations%20%26%20Dry%20Cleaning!5e0!3m2!1sen!2suk!4v1724258339785!5m2!1sen!2suk"
                width="90%"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
{% endblock %}

