{% extends 'base.html.twig' %}

{% block title %}Alterations | Unique Alterations{% endblock %}

{% block body %}
    <div class="image-container position-relative" data-aos="fade-in">
        <img src="{{ asset('images/Thread.jpg') }}" alt="Machine Image" class="img-fluid">
        <h1 class="display-3 fw-bold text-center text-white position-absolute top-50 start-50 translate-middle">Alterations</h1>
    </div>

    <div class="container mt-5 my-5">
        <div class="row align-items-md-stretch">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Full range of alterations services</h2>
                    <p>We offer a comprehensive range of clothing alterations, from simple adjustments to more intricate modifications. Our services include taking in waistbands, letting out shoulders, resizing, mending, adding customized touches to bridal apparel, shortening sleeves, and much more.</p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Alteration Services</h2>
                    <p>Whether you've purchased an embellished wedding dress, a leather garment, or a tuxedo that doesn't fit correctly, our highly trained team will expertly tailor your garment to ensure a precise fit.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h4 data-aos="fade-up" data-aos-delay="300">These are just some examples of the work we are able to do:</h4>
        <<div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
            <div class="col" data-aos="fade-up" data-aos-delay="400">
                <div class="card mb-4 rounded-3 shadow-sm border-dark h-100">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">General Alterations</h4>
                    </div>
                    <div class="card-body p-0 d-flex flex-column">
                        <div class="list-group flex-grow-1">
                            <a href="#" class="list-group-item list-group-item-action">Coat Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Jacket Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Leather Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Jeans Shortening Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Trouser Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Hems</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" data-aos="fade-up" data-aos-delay="400">
                <div class="card mb-4 rounded-3 shadow-sm border-dark h-100">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Ladies Alterations</h4>
                    </div>
                    <div class="card-body p-0 d-flex flex-column">
                        <div class="list-group flex-grow-1">
                            <a href="#" class="list-group-item list-group-item-action">Dress Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Bridal Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Blouse Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Ball Gown Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Evening Dress Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Prom Dress Alterations</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" data-aos="fade-up" data-aos-delay="500">
                <div class="card mb-4 rounded-3 shadow-sm border-dark h-100">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Mens Alterations</h4>
                    </div>
                    <div class="card-body p-0 d-flex flex-column">
                        <div class="list-group flex-grow-1">
                            <a href="#" class="list-group-item list-group-item-action">Suit Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Wedding Suit Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Morning Suit Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Tuxedo Suit Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Shirt Alterations</a>
                            <a href="#" class="list-group-item list-group-item-action">Waistcoat Alterations</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" data-aos="fade-up" data-aos-delay="600">
                <div class="card mb-4 rounded-3 shadow-sm border-dark h-100">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Home Furnishing</h4>
                    </div>
                    <div class="card-body p-0 d-flex flex-column">
                        <div class="list-group flex-grow-1">
                            <a href="#" class="list-group-item list-group-item-action">Curtains</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
